*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font-family: "Segoe UI Variable", "Segoe UI", system-ui, -apple-system, sans-serif;
}

body{
    background: linear-gradient(90deg, rgb(29, 30, 41), rgb(82, 85, 128));
    color:white;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: auto;

    gap:1vh;
}

div{
    display: flex;
    flex-direction: column;
    gap: 2px;

    box-shadow: rgba(17, 17, 26,0.5) 0px 4px 16px, rgba(17, 17, 26, 0.5) 0px 8px 32px;
    border-radius: 10px;
    padding: 1rem;
}

button{
    border-radius: 0.8rem;
    height: 2rem;
    transition: all 700ms ease-in-out;
}

button:hover{
    transform: translate(-250px, -250px) scale(5) rotate(67deg);
    cursor: pointer;
}

input{
    border-radius: 0.8rem;
    height: 2rem;
    padding:4px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vh;

    flex-wrap: wrap;
    padding-bottom: 2vh;
    padding-top: 2vh;
}