*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font-family: "Segoe UI Variable", "Segoe UI", system-ui, -apple-system, sans-serif;
}

body{
    background: linear-gradient(90deg, rgb(29, 30, 41), rgb(82, 85, 128));
    color:white;

    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    height: auto;

    gap:1vh;

    background-image: url('https://wallpaperaccess.com/full/5095511.jpg');
}

div{
    display: flex;
    flex-direction: column;
    gap: 2px;

    box-shadow: rgba(17, 17, 26,0.5) 0px 4px 16px, rgba(17, 17, 26, 0.5) 0px 8px 32px;
    border-radius: 10px;
    padding: 1rem;
}

button{
    border-radius: 0.8rem;
    height: 2rem;
    transition: all 700ms ease-in-out;
}

button:hover{
    transform: translate(-250px, -250px) scale(5) rotate(67deg);
    cursor: pointer;
}

input{
    border-radius: 0.8rem;
    height: 2rem;
    padding:4px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    min-height: 100vh;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

nav{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    gap: 50px;
    box-shadow: 0px 0px 10px #090909;
    animation: fromTop 2s ease-in-out;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size:20px;
    opacity: 0.5;
    font-weight: 900;
    transition: all 200ms ease-in-out;
}
    
a:hover{
    cursor: pointer;    
    opacity: 1;
}

@keyframes fromTop{
    0%{
        transform: translateY(-1250px);
        transform: rotate(1500deg); 
    }
    50%{
        transform: translateX(850px);
        transform: translateY(2500px);
        transform: rotate(-1500deg);
    }
    100%{
        transform: translateX(0px);
        transform: translateY(0px);
        transform: rotate(0deg);
    }
}

h1{
}